/* @media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
} */
/* @media (prefers-color-scheme: light) { */
    :root {
        color-scheme: light;
    }
/* } */
body {
    width: 95%;
    padding: 10px;
    font-size: 100%;
    font-family: system-ui;
    text-align: left;
}

.faq , .indent{
    text-indent: 1rem;
}

.faq-text {
    padding-left: 1rem;
    text-indent: 0rem;
}
